<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav
barSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" ari
a-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
 <li class="nav-item active">
 <a class="nav-link navbar-dark" href="/">Home <span class="sr-only">(current)</sp
an></a>
 </li>
 <li class="nav-item">
 <a class="nav-link navbar-dark" href="/bugs">Bugs</a>
 </li>
 <li class="nav-item">
 <a class="nav-link navbar-dark" href="/users">users</a>
 </li>
 <li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle navbar-dark" href="#" id="navbarDropdown" role
="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 Other Sites
 </a>
 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
 <a class="dropdown-item" href="https://www.gvsu.edu">GVSU</a>
 <a class="dropdown-item" href="https://www.cis.gvsu.edu">CIS</a>
 <div class="dropdown-divider"></div>
 <a class="dropdown-item" href="https://www.gatech.edu">Georgia Tech</a>
 </div>
 </li>
</ul>
<form class="form-inline my-2 my-lg-0">
 <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="
Search">
 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
</nav>